body {
    background-color: #f0f8ff;
    font-family: Arial, sans-serif;
}

.links {
    text-align: center;
    margin-bottom: 20px;
}

.links a {
    text-decoration: none;
    color: darkred;
    font-weight: bold;
    margin: 10px;
}

.links a:hover {
    color: blue;
}
